<a href='/'>home</a> | <a href='/boasts/'>boasts</a> | <a href='/roasts/'>roasts</a> | <a href="/newpost">New Post</a>
<h1>GhostPost</h1>
{% if request.get_full_path == "/boasts/"%}
    <h3>Boasts</h3>
{% elif request.get_full_path == "/roasts/" %}
    <h3>Roasts</h3>
{% elif request.get_full_path == "/sorted/" %}
    <h3>Most Popular</h3>
{% endif %}
{% for post in posts %}
<div style="border:solid black">
    {{post.post_content}}
    <br>
    {% if post.boast %}
        Boast
    {% else %}
        Roast
    {% endif %}
    <br>
    Popularity: {{post.total_votes}}
    <br>
    <a href="/upvote/{{post.id}}">Up Vote</a>   |   <a href="/downvote/{{post.id}}">Down Vote</a>
    <br>
    {{post.time_stamp}}
</div>
<br>
{% endfor %}

