<a href='/'>home</a> | <a href='/boasts/'>boasts</a> | <a href='/roasts/'>roasts</a> | <a href="/newpost">New Post</a>
<h1>GhostPost</h1>
{% if request.get_full_path == "/boasts/"%}
    <h3>BOASTS</h3>
{% elif request.get_full_path == "/roasts/" %}
    <h3>ROASTS</h3>
{% endif %}
{% for post in posts %}
<div style="border:solid black">
    {{post.post_content}}
    <br>
    {{post.boast}}
    <br>
    UP VOTES {{post.up_votes}} <a href="/upvote/{{post.id}}">click</a>
    <br>
    DOWN VOTES{{post.down_votes}} <a href="/downvote/{{post.id}}">click</a>
    <br>
    {{post.time_stamp}}
</div>
<br>
{% endfor %}

